<%= turbo_frame_tag dom_id(quest) do %>
  <div id="<%= dom_id quest %>" 
       class="w-full my-4 p-4 rounded-xl bg-white shadow-sm border border-gray-200 hover:shadow-md transition">
    <div class="flex flex-wrap items-center justify-between w-full">
      <div class="flex items-center space-x-3 flex-1">
        <%= form_with model: quest, method: :patch, class: "inline-block" do |form| %>
          <%= form.check_box :status, { onchange: "this.form.requestSubmit(); this.blur()", class: "w-5 h-5 text-blue-500 rounded relative top-0.5" , data: { testid: "quest-toggle-#{quest.id}" }} %>
        <% end %>
        <span class="<%= quest.status ? 'line-through text-gray-400' : 'text-gray-800' %> 
             text-lg break-all whitespace-normal" 
      data-testid="quest-item-<%= quest.id %>">
          <%= quest.title %>
        </span>
      </div>
      <div class="flex flex-col justify-end ml-3">
        <%= button_to quest, method: :delete,
      class: "flex items-center justify-center rounded-lg px-3 py-1.5 text-sm text-white bg-[#B59E7D] hover:bg-[#584738]  transition font-medium cursor-pointer",
      data: { testid: "quest-delete-button-#{quest.id}" } do %>
          <svg xmlns="http://www.w3.org/2000/svg" 
       fill="none" viewBox="0 0 24 24" 
       stroke-width="1.5" stroke="currentColor" 
       class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" 
          d="M6 18L18 6M6 6l12 12" />
          </svg>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
